<p>distancia works!</p>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distancia</title>
  </head>
  <body>
    <div
      class="max-w-lg mx-auto mt-10 p-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h1
        class="text-2xl font-bold text-gray-900 dark:text-white mb-6 text-center"
      >
        Calcular Distancia entre dos Puntos
      </h1>

      <form [formGroup]="formulario">
        <div class="mb-5">
          <label
            for="x1"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Coordenada X1</label
          >
          <input
            type="number"
            id="x1"
            formControlName="x1"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0"
            required
          />
        </div>

        <div class="mb-5">
          <label
            for="y1"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Coordenada Y1</label
          >
          <input
            type="number"
            id="y1"
            formControlName="y1"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0"
            required
          />
        </div>

        <div class="mb-5">
          <label
            for="x2"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Coordenada X2</label
          >
          <input
            type="number"
            id="x2"
            formControlName="x2"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0"
            required
          />
        </div>

        <div class="mb-5">
          <label
            for="y2"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Coordenada Y2</label
          >
          <input
            type="number"
            id="y2"
            formControlName="y2"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0"
            required
          />
        </div>

        <button
          type="button"
          (click)="cDistancia()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Calcular Distancia
        </button>

        <h1
          class="mt-6 text-2xl font-bold text-center text-gray-900 dark:text-white"
        >
          {{ resultado }}
        </h1>
      </form>
    </div>
  </body>
</html>
